name: CI

on:
  push:
    branches: [ main, Stable-Test, QA-Test ]
  pull_request:
    branches: [ main, Stable-Test, QA-Test ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Use Node.js 20.12.0
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: '20.12.0'

      - name: Install dependencies
        run: npm ci

      - name: Lint source
        run: npm run lint

      - name: Unit test smart contracts
        run: npm test
